*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    /* background-image: url(./Images/body-bg.png); */
    /* overflow: hidden; */
    /* scroll-behavior: smooth; */
   
}
p{
    color: #777777;

}
.navbar{
    width: 57%;
    display: flex;
    justify-content: flex-end;
}
.hamburger{
    font-size: 40px;
    justify-self: end;
    box-shadow: none !important;
}
.openMenu,.closeMenu{
    cursor: pointer;
    display: none;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    padding: 35px 10%;
    margin-top: 18px;
    
}
.logo{
    position: relative;
    
}
.logo a{
  text-decoration: none;
    
}
.logo a h1{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    /* background: linear-gradient(100deg, hsla(235, 68%, 58%, 1) 0%, hsla(261, 82%, 62%, 1) 56%); */
    /* background: linear-gradient(90deg, rgba(74,87,221,1) 5%, rgba(133,78,238,1) 69%); */
    background: linear-gradient(90deg, rgba(68,88,220,1) 5%, rgba(133,78,238,1) 69%);
    background-clip: text;
    -webkit-text-fill-color:transparent ;
    font-weight: 700;
   
}
.dot{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    /* background: #4A57DD; */
    background: #4458dc;
    position: absolute;
    top: -12px;
    left: 200px;
}
.navbar-item{
    display: inline-block;
   
}
.navbar-link{
    font-size: 2rem;
    margin-left: 30px;
    font-family: 'Rubik','sans-serif';
    text-decoration: none;
}
.navbar-link:hover{
    color: #4458dc;
}

@media(max-width:1000px){
    .navbar{
        width: 100%;
        height: 75vh;
        position: fixed;
        top: 0;
        right:0;
        
        left:0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: black;
        transition: top 1s ease;
        display: none;
    }
    .navbar-item{
        padding: 10px 0;
    }
    .navbar-link{
        color: white;
    }
    .navbar .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        
    }
    .closeMenu i{
        color: white;
    }

    .openMenu{
        display: block;
        /* color: #4458dc ; */
        font-size: 1.6rem;
    }
 
}





/* end navbar */
.home-banner{
    width: 100%;
    height: 100vh;
    background-image: url(./Images/banner1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Home Banner */

.banner-container{
    /* display: flex; */
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    /* padding: 35px 10%; */
    padding: 100px 10% 40px 10%;
}
.banner-text{
    align-self: center;
    font-family: 'Rubik','sans-serif';
    text-transform: uppercase;
    line-height: 1.7;
}
.banner-text h3{
    font-size: 3rem;
    font-weight: 500;
 
    display: inline;
}
.banner-text h1{
    font-size: 4rem;
}
.banner-text h5{
    font-size: 30px;
}
.banner-text .dash{
    border: 2px solid black;
    
    width: 61%;
    display: inline-block;
}
.banner-img img{
    max-width: 100%;
    height: auto;
}

.button{
    margin-top: 13px;
}

.gradient-btn {
    display: inline-block;
    padding: 10px 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
    transition: background 0.3s, border-color 0.3s, color 0.3s;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 11px;
}

.gradient-btn.career {
    color: black;
    background: none;
    border: 3px solid ;
    border-image:linear-gradient(to right, #4458dc 0%, #854fee 100%) 1;
}

.gradient-btn.career:hover {
    background: linear-gradient(to right, #4458dc 0%, #854fee 100%);
    border-color: transparent;
    color: white;
}

.gradient-btn.hire {
    background: linear-gradient(to right, #4458dc 0%, #854fee 100%);
    border: 3px solid transparent;
}

.gradient-btn.hire:hover {
    background: none;
    border: 3px solid ;
    border-image:linear-gradient(to right, #4458dc 0%, #854fee 100%) 1;
    color: black;
}


.about-container{
    padding: 50px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-img img{
    max-width: 100%;
    height: auto;
}
.about-content{
    font-family: 'Rubik','sans-serif';
    
}
.about-content h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 50px;
    text-transform: uppercase;
}

.about-content p{
    font-size: 21px;
    line-height: 2.3;
    margin-bottom: 30px;
}
.btn{
    background: linear-gradient(90deg, rgba(68,88,220,1) 5%, rgba(133,78,238,1) 69%);
    padding: 14px 36px;
    border-radius: 9px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.btn:hover{
    background: none;
    border: 3px solid  #4458dc;
    color: black;
}
/* services */
.services-container{
    padding: 50px 10%;
}
.services-title{
    text-align: center;
    font-family: 'Rubik','sans-serif';
}
.services-title h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.services-title p{
    width: 50%;
    margin: auto;
    font-size: 20px;
    
}

/*  */
.services-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 60px;
}
.card {
    text-align: center;
    font-family: 'Rubik','sans-serif';
    background: #f9f9fd;
    padding: 45px 25px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    flex-wrap: wrap;
}
.card:hover{
    
    background: white;
    box-shadow: 5px 5px 10px rgb(136, 136, 136);

}
.card h3 {
    font-size: 25px;
    margin-bottom: 10px;
}
.card p {
   
    font-size: 17px;
}
.card img{
    width: 200px;
    height: 200px;
}
/* project */
.project-container{
    padding: 50px 10%;
    font-family: 'Rubik','sans-serif';
}
.project-text h2{
    
    text-align: center;
    line-height: 2;
    font-size: 30px;
}
.project-list-container{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}
.project-list-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.project-list-container ul li{
    list-style: none;
    background: #eee;
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}
.project-list-container ul li.active{
    background-color: #4458dc ;
    color: white;
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.product .itemBox{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5px;
    display: block;
}
.product .itemBox.hide{
    display: none;
}
.itemBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.itemBox img:hover{
    box-shadow: 5px 5px 10px rgb(136, 136, 136);
}



/* Contact */
.contact-section {
    width: 100%;
    height: 75vh;
    background-image: url(./Images/banner1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact-container {
    padding:50px 20px; /* Adjusted padding for responsiveness */
}

.contact-container h2 {
    text-align: center;
    font-family: 'Rubik', 'sans-serif';
    font-size: 30px;
    margin: 30px 0;
}

form {
    max-width: 400px;
    margin: 0 auto;
    font-family: 'Rubik', 'sans-serif';
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background: linear-gradient(90deg, rgba(68, 88, 220, 1) 5%, rgba(133, 78, 238, 1) 69%);
    padding: 14px 36px;
    border-radius: 9px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

button:hover {
    background: none;
    border: 3px solid #4458dc;
    color: black;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .contact-container {
        padding: 40px 20px;
    }
}

@media screen and (max-width: 480px) {
    .contact-container {
        padding: 20px;
    }
    form {
        max-width: 100%;
    }
}




/*  */
/*  */

.footer-container{
    padding: 140px 10% 140px 10%;
    text-align: center;
    font-family: 'Rubik','sans-serif';
    text-transform: uppercase;
}

.footer-container .logo .dot{
    position: absolute;
    top: -8px;
    left: 57%;
}
h5{
    margin: 30px 0;
    font-size: 30px;
}
.icons a i{
   font-size: 40px;
   margin-bottom: 20px;
}
.icons a i:hover{
    background: linear-gradient(90deg, rgba(68,88,220,1) 5%, rgba(133,78,238,1) 69%);
    background-clip: text;
    -webkit-text-fill-color:transparent ;
    box-shadow: none;
}



@media (max-width:1000px)and (min-width:600px){
    .home-banner {
       
        background-position:initial;
        background-size: contain;
    }
    .banner-container {
     
        padding: 2rem;
    }
    .about-container{
        grid: none;
    }
    .about-container{
      
    background-color: #f1f1f1;;
    }
    .about-img img {
       display: none;
    }
}
@media (max-width:1200px){
    .services-card{
        overflow: hidden;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}
@media (max-width:800px){
    .services-card{
       
        grid-template-columns: 1fr
       
    }
}
@media (max-width:600px){
    .banner-container{
        grid: none;
    }
    .banner-text {
        line-height: 1.2;
    }
    .banner-img{
        display: none;
    }
    .banner-text h3 {
        font-size: 2rem;
    }
    .banner-text .dash {
        
        width: 59%;
    }

    .about-container {
         grid-template-columns: none;
    }
    .about-content h1 {
        font-size: 48px;
    }
    .about-content p {
            font-size: 19px;
            line-height: 2;
    }
    .services-title p {
                width: 100%;
              
    }

    .services-card {
       
        grid-template-columns: 1fr ;
    }

    .itemBox img {
     
        left: -65px;
        width: 165%;
       
    }
}